# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# production
build/

# testing
coverage/

# sqlite Local files
infomanager.db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
